* {
    font-family: 'Oswald';
}

#section1 {
    background-color: #E63946;
}

#section2 {
    background-color: #F1FAEE;
}

#text {
    margin-left: 30%;
    display: inline-block;
    height: 300px;
}

#text2 {
    margin-left: 30%;
    height: 200px;
}

#title {
    color: #a8dadc;
    letter-spacing: 10px;
    line-height: 30px;
}

#info {
    line-height: 30px;
    letter-spacing: 3px;
    color: #f1faee;
}

#info2 {
    line-height: 30px;
    letter-spacing: 3px;
    color: #457b9d;
}

#info3 {
    line-height: 30px;
    letter-spacing: 3px;
    color: #a8dadc;
}

#title2 {
    color: #457b9d;
    letter-spacing: 10px;
}

.fade-in {
    animation: fadeIn 4s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.anim {
    animation: arrowAnim 1.5s;
    animation-iteration-count: infinite;
}

.anim2 {
    animation: arrowAnim2 1.5s;
    animation-iteration-count: infinite;
}

@keyframes arrowAnim {
    0% {
        transform: scale(1) rotate(45deg);
    }
    50% {
        transform: scale(1.5) rotate(45deg);
    }
    100% {
        transform: scale(1) rotate(45deg);
    }
}

@keyframes arrowAnim2 {
    0% {
        transform: scale(1) rotate(-135deg);
    }
    50% {
        transform: scale(1.5) rotate(-135deg);
    }
    100% {
        transform: scale(1) rotate(-135deg);
    }
}

.down {
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: absolute;
    height: 40px;
    width: 40px;
    top: 90%;
    left: 50%;
}

#img {
    border-radius: 50px;
    margin-left: 100px;
    width: 250px;
    height: 250px;
}

#section3 {
    background-color: #457b9d;
}

#section4 {
    background-color: #1d3557;
}

#title3 {
    color: #a8dadc
}

#info4 {
    color: #457b9d;
}